ConsoleApp1/ConsoleApp1/Connected Services/SVC_Simulations/Simulations4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://accipiens.com" elementFormDefault="qualified" targetNamespace="http://accipiens.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd5" namespace="http://accipiens.com/Simulations" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd3" namespace="http://accipiens.com/Common" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd6" namespace="http://accipiens.com/Automatons" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd9" namespace="http://accipiens.com/BusinessFramework" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Olissipo.BusinessFramework.DataStructures" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Olissipo.Utils" />
  <xs:element name="ExposeSimulationsTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="context" type="q1:SimulationsAutContext" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="financialProductInternalOperation" type="q2:FinancialProductInternalOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExposeSimulationsTypesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertIntToEnumFinInitialEntryTypeKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertIntToEnumFinInitialEntryTypeKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://accipiens.com/Simulations" minOccurs="0" name="ConvertIntToEnumFinInitialEntryTypeKindResult" type="q3:FinInitialEntryTypeKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumFinInitialEntryTypeKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumFinInitialEntryTypeKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://accipiens.com/Simulations" minOccurs="0" name="ConvertToEnumFinInitialEntryTypeKindResult" type="q4:FinInitialEntryTypeKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinInitialEntryTypeKindEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://accipiens.com/Simulations" minOccurs="0" name="code" type="q5:FinInitialEntryTypeKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinInitialEntryTypeKindEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinInitialEntryTypeKindEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertIntToEnumUserInputField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertIntToEnumUserInputFieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertIntToEnumUserInputFieldResult" type="q6:UserInputField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumUserInputField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumUserInputFieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertToEnumUserInputFieldResult" type="q7:UserInputField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInputFieldEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="code" type="q8:UserInputField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInputFieldEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserInputFieldEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertIntToEnumEventKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventKind" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertIntToEnumEventKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertIntToEnumEventKindResult" type="q9:EventKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumEventKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventKind" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumEventKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertToEnumEventKindResult" type="q10:EventKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventKindEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="code" type="q11:EventKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventKindEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEventKindEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumFinSymbolProdInternalState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finSymbolProdAutInternalState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumFinSymbolProdInternalStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertToEnumFinSymbolProdInternalStateResult" type="q12:FinSymbolProdInternalState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdInternalStateEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="finSymbolProdAutInternalState" type="q13:FinSymbolProdInternalState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdInternalStateEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinSymbolProdInternalStateEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixInitialState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finMatrixTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixInitialStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://accipiens.com/Common" minOccurs="0" name="GetFinMatrixInitialStateResult" nillable="true" type="q14:CodeAbbreviation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixTransitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finMatrixId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixTransitionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://accipiens.com/Automatons" minOccurs="0" name="GetFinMatrixTransitionListResult" nillable="true" type="q15:ArrayOfAutTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixAutomatonHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finMatrixId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixAutomatonHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://accipiens.com/Automatons" minOccurs="0" name="GetFinMatrixAutomatonHistoryResult" nillable="true" type="q16:ArrayOfAutLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFinMatrixTransition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finMatrixId" type="xs:long" />
        <xs:element minOccurs="0" name="transitionId" type="xs:long" />
        <xs:element minOccurs="0" name="valueDate" type="xs:dateTime" />
        <xs:element xmlns:q17="http://accipiens.com/Automatons" minOccurs="0" name="reasons" nillable="true" type="q17:ArrayOfAutLogReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFinMatrixTransitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://accipiens.com/Common" minOccurs="0" name="DoFinMatrixTransitionResult" nillable="true" type="q18:ArrayOfValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductInitialState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductInitialStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://accipiens.com/Common" minOccurs="0" name="GetFinancialProductInitialStateResult" nillable="true" type="q19:CodeAbbreviation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductTransitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductTransitionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://accipiens.com/Automatons" minOccurs="0" name="GetFinancialProductTransitionListResult" nillable="true" type="q20:ArrayOfAutTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductAutomatonHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductAutomatonHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://accipiens.com/Automatons" minOccurs="0" name="GetFinancialProductAutomatonHistoryResult" nillable="true" type="q21:ArrayOfAutLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFinancialProductTransition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
        <xs:element minOccurs="0" name="transitionId" type="xs:long" />
        <xs:element minOccurs="0" name="mainFinancialProductIdentifierId" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://accipiens.com/Simulations" minOccurs="0" name="secondaryIdentifiers" nillable="true" type="q22:ArrayOfFinProdIdentifierList" />
        <xs:element minOccurs="0" name="valueDate" type="xs:dateTime" />
        <xs:element xmlns:q23="http://accipiens.com/Automatons" minOccurs="0" name="reasons" nillable="true" type="q23:ArrayOfAutLogReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFinancialProductTransitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://accipiens.com/Common" minOccurs="0" name="DoFinancialProductTransitionResult" nillable="true" type="q24:ArrayOfValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinancialProductIsInState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autUserStateId" type="xs:long" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="internalState" type="q25:FinancialProductInternalState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinancialProductIsInStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinancialProductIsInStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdInitialState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdInitialStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://accipiens.com/Common" minOccurs="0" name="GetFinSymbolProdInitialStateResult" nillable="true" type="q26:CodeAbbreviation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdTransitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="finSymbolProdIdList" nillable="true" type="q27:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdTransitionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://accipiens.com/Automatons" minOccurs="0" name="GetFinSymbolProdTransitionListResult" nillable="true" type="q28:ArrayOfAutTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdAutomatonHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finSymbolProdId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdAutomatonHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://accipiens.com/Automatons" minOccurs="0" name="GetFinSymbolProdAutomatonHistoryResult" nillable="true" type="q29:ArrayOfAutLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFinSymbolProdTransition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="finSymbolProdIdList" nillable="true" type="q30:ArrayOflong" />
        <xs:element minOccurs="0" name="transitionId" type="xs:long" />
        <xs:element minOccurs="0" name="valueDate" type="xs:dateTime" />
        <xs:element xmlns:q31="http://accipiens.com/Automatons" minOccurs="0" name="reasons" nillable="true" type="q31:ArrayOfAutLogReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoFinSymbolProdTransitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://accipiens.com/Common" minOccurs="0" name="DoFinSymbolProdTransitionResult" nillable="true" type="q32:ArrayOfValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinSymbolProdIsActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autUserStateId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinSymbolProdIsActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinSymbolProdIsActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRentsCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://accipiens.com/Simulations" minOccurs="0" name="finConditionsSlim" nillable="true" type="q33:FinConditions" />
        <xs:element minOccurs="0" name="credOperTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="financialProductId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isFlowsChange" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRentsCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://accipiens.com/Simulations" minOccurs="0" name="CalculateRentsCalendarResult" nillable="true" type="q34:FinConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QtdOfFlowsMissingToEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://accipiens.com/Simulations" minOccurs="0" name="finConditionsSlim" nillable="true" type="q35:FinConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QtdOfFlowsMissingToEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QtdOfFlowsMissingToEndResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="valueDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="finDueRegimeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="finInitialEntryTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="differPeriods" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="gracePeriods" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="periodId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="transferDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="entityId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://accipiens.com/BusinessFramework" minOccurs="0" name="GetTransferDateResult" nillable="true" type="q36:FinDateCalcInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDefaultRateValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
        <xs:element minOccurs="0" name="valueDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDefaultRateValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDefaultRateValueResult" type="xs:decimal" />
        <xs:element minOccurs="0" name="spread" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultSpread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultSpreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefaultSpreadResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductImporterByImporterAndFinancialProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importerStructNodeId" type="xs:long" />
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
        <xs:element xmlns:q37="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q37:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductImporterByImporterAndFinancialProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductImporterByImporterAndFinancialProductResult" nillable="true" type="q38:FinancialProductImporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultFinProductImporterByFinancialProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
        <xs:element minOccurs="0" name="importerStructNodeId" type="xs:long" />
        <xs:element xmlns:q39="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q39:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultFinProductImporterByFinancialProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://accipiens.com/Simulations" minOccurs="0" name="GetDefaultFinProductImporterByFinancialProductIdResult" nillable="true" type="q40:FinancialProductImporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumOfFinSymbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finSymbolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumOfFinSymbolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="GetEnumOfFinSymbolResult" type="q41:ProductSymbolType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptimizeFinancialProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OptimizeFinancialProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OptimizeFinancialProductsResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSymbolBranchEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finSymbolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSymbolBranchEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSymbolBranchEntityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFinancialProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" type="xs:int" />
        <xs:element minOccurs="0" name="aplUserId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateFinancialProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateFinancialProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFinSymbolSpecialType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finSymbolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFinSymbolSpecialTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Olissipo.BusinessFramework.DataStructures" minOccurs="0" name="IsFinSymbolSpecialTypeResult" nillable="true" type="q42:FinSymbolSpecialType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSymbolsUserBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finProductId" type="xs:int" />
        <xs:element minOccurs="0" name="operationVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSymbolsUserBehaviourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://accipiens.com/Simulations" minOccurs="0" name="GetProductSymbolsUserBehaviourResult" nillable="true" type="q43:ArrayOfSymbolUserBehaviour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInputSymbolList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finProductId" type="xs:int" />
        <xs:element minOccurs="0" name="operationVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInputSymbolListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductInputSymbolListResult" nillable="true" type="q44:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSymbolValueConditionsLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finProductId" type="xs:int" />
        <xs:element minOccurs="0" name="finSymbolId" type="xs:int" />
        <xs:element minOccurs="0" name="relatedTypeId" nillable="true" type="xs:long" />
        <xs:element xmlns:q45="http://accipiens.com/Simulations" minOccurs="0" name="symbolValues" nillable="true" type="q45:ArrayOfSymbolValueList" />
        <xs:element minOccurs="0" name="operationVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSymbolValueConditionsLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://accipiens.com/Simulations" minOccurs="0" name="GetProductSymbolValueConditionsLimitsResult" nillable="true" type="q46:SymbolLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRestrictionLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finProductId" type="xs:int" />
        <xs:element minOccurs="0" name="finSymbolId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRestrictionLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://accipiens.com/Simulations" minOccurs="0" name="GetProductRestrictionLimitsResult" nillable="true" type="q47:ArrayOfSymbolLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSymbolsDependencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finProductId" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Olissipo.BusinessFramework.DataStructures" minOccurs="0" name="finSymbolList" nillable="true" type="q48:ArrayOfFinSymbolKind" />
        <xs:element minOccurs="0" name="operationVersion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSymbolsDependenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://accipiens.com/Simulations" minOccurs="0" name="GetProductSymbolsDependenciesResult" nillable="true" type="q49:ArrayOfSymbolDependency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextExternalFinSymbolId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextExternalFinSymbolIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextExternalFinSymbolIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceTypeDefault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isInternal" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isLifeInsurance" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="assetTypeGroupId" type="xs:long" />
        <xs:element minOccurs="0" name="relatedAssetId" type="xs:long" />
        <xs:element minOccurs="0" name="aplApplicationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperClassificationId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceTypeDefaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInsuranceTypeDefaultResult" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceTypeDefaultOnCredOper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isInternal" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isLifeInsurance" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="assetTypeGroupId" type="xs:long" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="insuranceTypeListIds" nillable="true" type="q50:ArrayOflong" />
        <xs:element minOccurs="0" name="isAssetInsurance" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="assetTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplApplicationId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperClassificationId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceTypeDefaultOnCredOperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInsuranceTypeDefaultOnCredOperResult" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateFinMatrixCells">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finMatrixTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="middleAssetUsage" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="middleTerm" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateFinMatrixCellsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://accipiens.com/Simulations" minOccurs="0" name="CalculateFinMatrixCellsResult" nillable="true" type="q51:ArrayOfFinMatrixCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixCells">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://accipiens.com/Simulations" minOccurs="0" name="finMatrixSlim" nillable="true" type="q52:FinMatrix" />
        <xs:element minOccurs="0" name="mergeWithMatrixTypeDefault" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixCellsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://accipiens.com/Simulations" minOccurs="0" name="GetFinMatrixCellsResult" nillable="true" type="q53:ArrayOfFinMatrixCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveFinMatrixByOwnerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveFinMatrixByOwnerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://accipiens.com/Simulations" minOccurs="0" name="GetActiveFinMatrixByOwnerIdResult" nillable="true" type="q54:FinMatrix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumFinProductVersionCalcMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finProductVersionCalcMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumFinProductVersionCalcModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertToEnumFinProductVersionCalcModeResult" type="q55:FinProductVersionCalcMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProductVersionCalcModeEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="finProductVersionCalcMode" type="q56:FinProductVersionCalcMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProductVersionCalcModeEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinProductVersionCalcModeEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumValueCalcState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueCalcState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumValueCalcStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Olissipo.Utils" minOccurs="0" name="ConvertToEnumValueCalcStateResult" type="q57:ValueCalcState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueCalcStateEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Olissipo.Utils" minOccurs="0" name="valueCalcState" type="q58:ValueCalcState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueCalcStateEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValueCalcStateEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumAddToMaxValueType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addToMaxValueType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumAddToMaxValueTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertToEnumAddToMaxValueTypeResult" type="q59:AddToMaxValueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddToMaxValueTypeEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="addToMaxValueType" type="q60:AddToMaxValueType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddToMaxValueTypeEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddToMaxValueTypeEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumPaymentBehaviourKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentBehaviourKind" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToEnumPaymentBehaviourKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="ConvertToEnumPaymentBehaviourKindResult" type="q61:PaymentBehaviourKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentBehaviourKindEnumValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Olissipo.Simulations.DataStructures" minOccurs="0" name="paymentBehaviourKind" type="q62:PaymentBehaviourKind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentBehaviourKindEnumValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPaymentBehaviourKindEnumValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationsClassContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://accipiens.com/Simulations" minOccurs="0" name="searchClass" type="q63:SimulationsSearchClass" />
        <xs:element minOccurs="0" name="parentFullContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detail" type="xs:int" />
        <xs:element minOccurs="0" name="isFull" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationsClassContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationsClassContextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSimulations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://accipiens.com/Simulations" minOccurs="0" name="searchClass" type="q64:SimulationsSearchClass" />
        <xs:element xmlns:q65="http://accipiens.com/Common" minOccurs="0" name="criteria" nillable="true" type="q65:SearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSimulationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://accipiens.com/Common" minOccurs="0" name="SearchSimulationsResult" nillable="true" type="q66:SearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceleratorPeriodTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q67:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q68="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q68:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceleratorPeriodTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://accipiens.com/Simulations" minOccurs="0" name="GetAcceleratorPeriodTypeByKeysResult" nillable="true" type="q69:ArrayOfAcceleratorPeriodType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceleratorTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q70:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q71="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q71:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAcceleratorTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://accipiens.com/Simulations" minOccurs="0" name="GetAcceleratorTypeByKeysResult" nillable="true" type="q72:ArrayOfAcceleratorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q73:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q74="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q74:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductByKeysResult" nillable="true" type="q75:ArrayOfFinancialProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductCategoryByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q76:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q77="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q77:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductCategoryByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductCategoryByKeysResult" nillable="true" type="q78:ArrayOfFinancialProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductChannelByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q79:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q80="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q80:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductChannelByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductChannelByKeysResult" nillable="true" type="q81:ArrayOfFinancialProductChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductCredOperTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q82:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q83="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q83:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductCredOperTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductCredOperTypeByKeysResult" nillable="true" type="q84:ArrayOfFinancialProductCredOperType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductIdentifierByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q85:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q86="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q86:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductIdentifierByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductIdentifierByKeysResult" nillable="true" type="q87:ArrayOfFinancialProductIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductImporterByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q88:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q89="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q89:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductImporterByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductImporterByKeysResult" nillable="true" type="q90:ArrayOfFinancialProductImporter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductPurposeTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q91:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q92="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q92:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductPurposeTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://accipiens.com/Simulations" minOccurs="0" name="GetFinancialProductPurposeTypeByKeysResult" nillable="true" type="q93:ArrayOfFinancialProductPurposeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinBaseByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q94:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q95="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q95:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinBaseByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://accipiens.com/Simulations" minOccurs="0" name="GetFinBaseByKeysResult" nillable="true" type="q96:ArrayOfFinBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinBaseSymbolByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q97:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q98="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q98:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinBaseSymbolByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://accipiens.com/Simulations" minOccurs="0" name="GetFinBaseSymbolByKeysResult" nillable="true" type="q99:ArrayOfFinBaseSymbol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q100:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q101="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q101:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://accipiens.com/Simulations" minOccurs="0" name="GetFinConditionsByKeysResult" nillable="true" type="q102:ArrayOfFinConditions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsFlowsByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q103:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q104="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q104:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsFlowsByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://accipiens.com/Simulations" minOccurs="0" name="GetFinConditionsFlowsByKeysResult" nillable="true" type="q105:ArrayOfFinConditionsFlows" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsLogByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q106:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q107="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q107:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsLogByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://accipiens.com/Simulations" minOccurs="0" name="GetFinConditionsLogByKeysResult" nillable="true" type="q108:ArrayOfFinConditionsLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsRateByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q109:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q110="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q110:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinConditionsRateByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://accipiens.com/Simulations" minOccurs="0" name="GetFinConditionsRateByKeysResult" nillable="true" type="q111:ArrayOfFinConditionsRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinInitialEntryTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q112:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q113="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q113:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinInitialEntryTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://accipiens.com/Simulations" minOccurs="0" name="GetFinInitialEntryTypeByKeysResult" nillable="true" type="q114:ArrayOfFinInitialEntryType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinInitialExpenseByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q115:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q116="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q116:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinInitialExpenseByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://accipiens.com/Simulations" minOccurs="0" name="GetFinInitialExpenseByKeysResult" nillable="true" type="q117:ArrayOfFinInitialExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q118:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q119="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q119:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://accipiens.com/Simulations" minOccurs="0" name="GetFinMatrixByKeysResult" nillable="true" type="q120:ArrayOfFinMatrix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixItemByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q121:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q122="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q122:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixItemByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://accipiens.com/Simulations" minOccurs="0" name="GetFinMatrixItemByKeysResult" nillable="true" type="q123:ArrayOfFinMatrixItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixItemGroupByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q124:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q125="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q125:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinMatrixItemGroupByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://accipiens.com/Simulations" minOccurs="0" name="GetFinMatrixItemGroupByKeysResult" nillable="true" type="q126:ArrayOfFinMatrixItemGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdConditionsFlowByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q127:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q128="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q128:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdConditionsFlowByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://accipiens.com/Simulations" minOccurs="0" name="GetFinProdConditionsFlowByKeysResult" nillable="true" type="q129:ArrayOfFinProdConditionsFlow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdIdentifierListByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q130:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q131="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q131:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdIdentifierListByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://accipiens.com/Simulations" minOccurs="0" name="GetFinProdIdentifierListByKeysResult" nillable="true" type="q132:ArrayOfFinProdIdentifierList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdRestrictionByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q133:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q134="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q134:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdRestrictionByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://accipiens.com/Simulations" minOccurs="0" name="GetFinProdRestrictionByKeysResult" nillable="true" type="q135:ArrayOfFinProdRestriction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdRestrictionListByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q136:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q137="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q137:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdRestrictionListByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://accipiens.com/Simulations" minOccurs="0" name="GetFinProdRestrictionListByKeysResult" nillable="true" type="q138:ArrayOfFinProdRestrictionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdSymbolListByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q139:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q140="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q140:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinProdSymbolListByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://accipiens.com/Simulations" minOccurs="0" name="GetFinProdSymbolListByKeysResult" nillable="true" type="q141:ArrayOfFinProdSymbolList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q142:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q143="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q143:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolByKeysResult" nillable="true" type="q144:ArrayOfFinSymbol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q145:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q146="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q146:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolProdByKeysResult" nillable="true" type="q147:ArrayOfFinSymbolProd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdConditionByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q148:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q149="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q149:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdConditionByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolProdConditionByKeysResult" nillable="true" type="q150:ArrayOfFinSymbolProdCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdValueByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q151:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q152="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q152:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdValueByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolProdValueByKeysResult" nillable="true" type="q153:ArrayOfFinSymbolProdValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdValueConditionByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q154:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q155="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q155:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolProdValueConditionByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolProdValueConditionByKeysResult" nillable="true" type="q156:ArrayOfFinSymbolProdValueCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolRestrictionByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q157:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q158="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q158:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolRestrictionByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolRestrictionByKeysResult" nillable="true" type="q159:ArrayOfFinSymbolRestriction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolValueByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q160:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q161="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q161:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolValueByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://accipiens.com/Simulations" minOccurs="0" name="GetFinSymbolValueByKeysResult" nillable="true" type="q162:ArrayOfFinSymbolValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentBehaviourTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q163:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q164="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q164:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentBehaviourTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://accipiens.com/Simulations" minOccurs="0" name="GetPaymentBehaviourTypeByKeysResult" nillable="true" type="q165:ArrayOfPaymentBehaviourType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationIrregularityByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q166:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q167="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q167:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationIrregularityByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://accipiens.com/Simulations" minOccurs="0" name="GetQuotationIrregularityByKeysResult" nillable="true" type="q168:ArrayOfQuotationIrregularity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationIrregularityTypeByKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://accipiens.com/Common" minOccurs="0" name="keys" nillable="true" type="q169:ArrayOfBusinessEntityKey" />
        <xs:element minOccurs="0" name="detailsOnly" type="xs:boolean" />
        <xs:element xmlns:q170="http://accipiens.com/Common" minOccurs="0" name="businessDetailsInfo" nillable="true" type="q170:ArrayOfBusinessDetailFetchInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotationIrregularityTypeByKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://accipiens.com/Simulations" minOccurs="0" name="GetQuotationIrregularityTypeByKeysResult" nillable="true" type="q171:ArrayOfQuotationIrregularityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSimulations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://accipiens.com/Simulations" minOccurs="0" name="saveClass" type="q172:SimulationsSaveClass" />
        <xs:element xmlns:q173="http://accipiens.com/Common" minOccurs="0" name="businessSlim" nillable="true" type="q173:BusinessEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSimulationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://accipiens.com/Common" minOccurs="0" name="SaveSimulationsResult" nillable="true" type="q174:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSimulationsV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://accipiens.com/Simulations" minOccurs="0" name="saveClass" type="q175:SimulationsSaveClass" />
        <xs:element xmlns:q176="http://accipiens.com/Common" minOccurs="0" name="businessSlim" nillable="true" type="q176:BusinessEntity" />
        <xs:element xmlns:q177="http://accipiens.com/Common" minOccurs="0" name="saveParams" nillable="true" type="q177:SaveParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSimulationsV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://accipiens.com/Common" minOccurs="0" name="SaveSimulationsV2Result" nillable="true" type="q178:SaveResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationsClassTableId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://accipiens.com/Simulations" minOccurs="0" name="rootClass" type="q179:SimulationsClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationsClassTableIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationsClassTableIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationsTableId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullContext" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationsTableIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationsTableIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSimulationsConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://accipiens.com/Simulations" minOccurs="0" name="searchClass" type="q180:SimulationsSearchClass" />
        <xs:element xmlns:q181="http://accipiens.com/Common" minOccurs="0" name="criteria" nillable="true" type="q181:SearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSimulationsConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://accipiens.com/Common" minOccurs="0" name="SearchSimulationsConfigResult" nillable="true" type="q182:ArrayOfBusinessEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>