ConsoleApp1/ConsoleApp1/Connected Services/SVC_OPBasicLists/CreditOperationsBasicLists4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Olissipo.CommonGeneric.Framework.Validations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Olissipo.CommonGeneric.Framework.Validations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd3" namespace="http://accipiens.com/Common" />
  <xs:complexType name="ValidationNumberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatabaseValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://accipiens.com/Common" minOccurs="0" name="Gender" nillable="true" type="q1:GenderKind" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element xmlns:q2="http://accipiens.com/Common" minOccurs="0" name="Validations" nillable="true" type="q2:ArrayOfBusinessError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationNumberInfo" nillable="true" type="tns:ValidationNumberInfo" />
</xs:schema>