ConsoleApp1/ConsoleApp1/Connected Services/SVC_OPBasicLists/CreditOperationsBasicLists6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://accipiens.com" elementFormDefault="qualified" targetNamespace="http://accipiens.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.Facade" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd3" namespace="http://accipiens.com/Common" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperations.DataStructures" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd7" namespace="http://accipiens.com/CreditOperations" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Olissipo.EqpPricingInterfaces.DataStructures" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsConfig.DataStructures" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd10" namespace="http://accipiens.com/Simulations" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.AuxiliaryClasses" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Olissipo.BusinessFramework.DataStructures" />
  <xs:element name="GetDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.Facade" minOccurs="0" name="listType" type="q1:CreditOperationsDataListId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://accipiens.com/Common" minOccurs="0" name="GetDataListResult" nillable="true" type="q2:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.Facade" minOccurs="0" name="listType" type="q3:CreditOperationsForeignDataListId" />
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForeignDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://accipiens.com/Common" minOccurs="0" name="GetForeignDataListResult" nillable="true" type="q4:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiForeignDataListKeyCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.Facade" minOccurs="0" name="listType" type="q5:CreditOperationsMultiForeignDataListId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultiForeignDataListKeyCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMultiForeignDataListKeyCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAutUserStateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autContextId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAutUserStateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAutUserStateListResult" nillable="true" type="q6:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAutUserStateDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autContextId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAutUserStateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAutUserStateDataListResult" nillable="true" type="q7:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeDataResult" nillable="true" type="q8:CodeAbbreviation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="businessId" nillable="true" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="step" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeDataListResult" nillable="true" type="q10:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeDataListOnlyInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="businessId" nillable="true" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="step" nillable="true" type="q11:ArrayOfint" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hasOnlyInterest" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="superTypeIds" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeDataListOnlyInterestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeDataListOnlyInterestResult" nillable="true" type="q13:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeByNatureDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="businessId" nillable="true" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="step" nillable="true" type="q14:ArrayOfint" />
        <xs:element minOccurs="0" name="credOperNature" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeByNatureDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeByNatureDataListResult" nillable="true" type="q15:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeByNaturesDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" nillable="true" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="businessIds" nillable="true" type="q16:ArrayOfint" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="steps" nillable="true" type="q17:ArrayOfint" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="credOperNatures" nillable="true" type="q18:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeByNaturesDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeByNaturesDataListResult" nillable="true" type="q19:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="operNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperStep" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hasOnlyInterests" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="superTypeIds" nillable="true" type="q20:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeIdsDataListResult" nillable="true" type="q21:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsByStepDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="operNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="credOperStep" nillable="true" type="q22:ArrayOfint" />
        <xs:element minOccurs="0" name="hasOnlyInterests" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="superTypeIds" nillable="true" type="q23:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsByStepDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeIdsByStepDataListResult" nillable="true" type="q24:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsByInternalStateDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="operNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperStep" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hasOnlyInterests" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperations.DataStructures" minOccurs="0" name="internalState" nillable="true" type="q25:ContractInternalState" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="superTypeIds" nillable="true" type="q26:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsByInternalStateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeIdsByInternalStateDataListResult" nillable="true" type="q27:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCessionCredOperTypeByOriginAndSuperTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="originCredOperTypeId" nillable="true" type="xs:long" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="superTypeIds" nillable="true" type="q28:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCessionCredOperTypeByOriginAndSuperTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://accipiens.com/Common" minOccurs="0" name="GetCessionCredOperTypeByOriginAndSuperTypeDataListResult" nillable="true" type="q29:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsByStepBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="operNumber" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="credOperStep" nillable="true" type="q30:ArrayOfint" />
        <xs:element minOccurs="0" name="hasOnlyInterests" nillable="true" type="xs:boolean" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="superTypeIds" nillable="true" type="q31:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeIdsByStepBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeIdsByStepBasicListResult" nillable="true" type="q32:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperRelationTypesWithSuperTypeReplacementBasicList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperRelationTypesWithSuperTypeReplacementBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://accipiens.com/Common" minOccurs="0" name="GetCredOperRelationTypesWithSuperTypeReplacementBasicListResult" nillable="true" type="q33:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeByEntityDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://accipiens.com/CreditOperations" minOccurs="0" name="credOperTypeBasicListParam" nillable="true" type="q34:CredOperTypeBasicListParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeByEntityDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeByEntityDataListResult" nillable="true" type="q35:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeExpenseTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="finCFEventId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isFinanced" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="isTaxExpense" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="finProductId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperTypeExpenseTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://accipiens.com/Common" minOccurs="0" name="GetCredOperTypeExpenseTypeDataListResult" nillable="true" type="q36:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeForSubCredOperType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subCredOperTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeForSubCredOperTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://accipiens.com/Common" minOccurs="0" name="GetExpenseTypeForSubCredOperTypeResult" nillable="true" type="q37:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeForCredOperAndSubCredOperType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subCredOperTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeForCredOperAndSubCredOperTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://accipiens.com/Common" minOccurs="0" name="GetExpenseTypeForCredOperAndSubCredOperTypeResult" nillable="true" type="q38:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanInterestExpenseTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanInterestExpenseTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://accipiens.com/Common" minOccurs="0" name="GetLoanInterestExpenseTypeDataListResult" nillable="true" type="q39:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductEquipmentTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="financialProductId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductEquipmentTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://accipiens.com/Common" minOccurs="0" name="GetProductEquipmentTypeDataListResult" nillable="true" type="q40:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentBrandDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentTypeId" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Olissipo.EqpPricingInterfaces.DataStructures" minOccurs="0" name="pricingParam" nillable="true" type="q41:EqpPricingParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentBrandDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentBrandDataListResult" nillable="true" type="q42:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentModelDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentTypeId" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Olissipo.EqpPricingInterfaces.DataStructures" minOccurs="0" name="pricingParam" nillable="true" type="q43:EqpPricingParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentModelDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentModelDataListResult" nillable="true" type="q44:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentVersionDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentTypeId" type="xs:int" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Olissipo.EqpPricingInterfaces.DataStructures" minOccurs="0" name="pricingParam" nillable="true" type="q45:EqpPricingParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentVersionDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentVersionDataListResult" nillable="true" type="q46:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentCategoryDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="finProductId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentCategoryDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentCategoryDataListResult" nillable="true" type="q47:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentTypeByCategoriesDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="equipCategoryList" nillable="true" type="q48:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentTypeByCategoriesDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentTypeByCategoriesDataListResult" nillable="true" type="q49:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentCategoryByEquipmentTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="importerId" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessPurposeTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="equipmentTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentCategoryByEquipmentTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentCategoryByEquipmentTypeDataListResult" nillable="true" type="q50:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentRegistrationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentRegistrationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentRegistrationListResult" nillable="true" type="q51:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeDataList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://accipiens.com/Common" minOccurs="0" name="GetAssetTaxTypeDataListResult" nillable="true" type="q52:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeByVendorOrSupplierInvoiceClassDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="equipmentStateId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="optionContextId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeByVendorOrSupplierInvoiceClassDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://accipiens.com/Common" minOccurs="0" name="GetAssetTaxTypeByVendorOrSupplierInvoiceClassDataListResult" nillable="true" type="q53:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeWithValueByDateDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="equipmentStateId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="optionContextId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="valueDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeWithValueByDateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://accipiens.com/Common" minOccurs="0" name="GetAssetTaxTypeWithValueByDateDataListResult" nillable="true" type="q54:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeDList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entityTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="assetTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTaxTypeDListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://accipiens.com/Common" minOccurs="0" name="GetAssetTaxTypeDListResult" nillable="true" type="q55:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeForAssetTaxType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetTaxTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypeForAssetTaxTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://accipiens.com/Common" minOccurs="0" name="GetExpenseTypeForAssetTaxTypeResult" nillable="true" type="q56:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetStateToRescissionLitigation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetStateToRescissionLitigationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAssetStateToRescissionLitigationResult" nillable="true" type="q57:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetStateToRescissionSale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetStateToRescissionSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAssetStateToRescissionSaleResult" nillable="true" type="q58:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetStateToRescissionLost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetStateToRescissionLostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAssetStateToRescissionLostResult" nillable="true" type="q59:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subCredOperItem" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAssetListResult" nillable="true" type="q60:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetListByCOAssetId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetListByCOAssetIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAssetListByCOAssetIdResult" nillable="true" type="q61:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetMeasureTypeRestrictionDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetType" type="xs:int" />
        <xs:element minOccurs="0" name="equipTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="buildTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperAssetMeasureTypeRestrictionDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://accipiens.com/Common" minOccurs="0" name="GetCredOperAssetMeasureTypeRestrictionDataListResult" nillable="true" type="q62:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetFinTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assetType" type="xs:int" />
        <xs:element minOccurs="0" name="aplCompany" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetFinTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://accipiens.com/Common" minOccurs="0" name="GetAssetFinTypeDataListResult" nillable="true" type="q63:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetPaymentCalendarCurrenciesDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relatedAssetId" type="xs:long" />
        <xs:element minOccurs="0" name="optionId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="paymentItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetPaymentCalendarCurrenciesDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://accipiens.com/Common" minOccurs="0" name="GetAssetPaymentCalendarCurrenciesDataListResult" nillable="true" type="q64:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingMatrixFractionListByBuildingMatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingMatrixFractionListByBuildingMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://accipiens.com/Common" minOccurs="0" name="GetBuildingMatrixFractionListByBuildingMatrixResult" nillable="true" type="q65:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoFractionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoFractionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://accipiens.com/Common" minOccurs="0" name="GetBuildingInfoFractionListResult" nillable="true" type="q66:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoFractionWithPartialList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoFractionWithPartialListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://accipiens.com/Common" minOccurs="0" name="GetBuildingInfoFractionWithPartialListResult" nillable="true" type="q67:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoMatricesCodeAbbreviation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoMatricesCodeAbbreviationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://accipiens.com/Common" minOccurs="0" name="GetBuildingInfoMatricesCodeAbbreviationResult" nillable="true" type="q68:CodeAbbreviation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoMatricesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingInfoMatricesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://accipiens.com/Common" minOccurs="0" name="GetBuildingInfoMatricesListResult" nillable="true" type="q69:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingMatricesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingMatricesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://accipiens.com/Common" minOccurs="0" name="GetBuildingMatricesListResult" nillable="true" type="q70:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingMatricesListByBuildingInfoFraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingInfoFractionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingMatricesListByBuildingInfoFractionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://accipiens.com/Common" minOccurs="0" name="GetBuildingMatricesListByBuildingInfoFractionResult" nillable="true" type="q71:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperGuarantCrossDefaultList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperGuarantCrossDefaultListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://accipiens.com/Common" minOccurs="0" name="GetCredOperGuarantCrossDefaultListResult" nillable="true" type="q72:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisposableAssetDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisposableAssetDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://accipiens.com/Common" minOccurs="0" name="GetDisposableAssetDataListResult" nillable="true" type="q73:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplBusinessIdsDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="hasOnlyInterests" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="aplBusinessPurposeTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplBusinessIdsDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://accipiens.com/Common" minOccurs="0" name="GetAplBusinessIdsDataListResult" nillable="true" type="q74:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplBusinessIdsForInvoiceUniverseDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplBusinessIdsForInvoiceUniverseDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://accipiens.com/Common" minOccurs="0" name="GetAplBusinessIdsForInvoiceUniverseDataListResult" nillable="true" type="q75:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="finProductId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://accipiens.com/Common" minOccurs="0" name="GetSimulationTypeDataListResult" nillable="true" type="q76:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImporterForCredOper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credoperId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImporterForCredOperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://accipiens.com/Common" minOccurs="0" name="GetImporterForCredOperResult" nillable="true" type="q77:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitysToSubCredOperActiveAtDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
        <xs:element minOccurs="0" name="valueDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitysToSubCredOperActiveAtDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://accipiens.com/Common" minOccurs="0" name="GetEntitysToSubCredOperActiveAtDateResult" nillable="true" type="q78:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCredOperTypeByBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplBusinessId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCredOperTypeByBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://accipiens.com/Common" minOccurs="0" name="GetSubCredOperTypeByBusinessResult" nillable="true" type="q79:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCredOperInitialCodeDynamicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCredOperInitialCodeDynamicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://accipiens.com/Common" minOccurs="0" name="GetSubCredOperInitialCodeDynamicListResult" nillable="true" type="q80:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubCredOperItemOrderByBeginDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubCredOperItemOrderByBeginDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://accipiens.com/Common" minOccurs="0" name="GetActiveSubCredOperItemOrderByBeginDateResult" nillable="true" type="q81:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockPaymentSubCredOperEndReasonsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockPaymentSubCredOperEndReasonsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://accipiens.com/Common" minOccurs="0" name="GetStockPaymentSubCredOperEndReasonsListResult" nillable="true" type="q82:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntervIdsWithPaymentModeForCredOperBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
        <xs:element minOccurs="0" name="credOperIntervTypeId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntervIdsWithPaymentModeForCredOperBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://accipiens.com/Common" minOccurs="0" name="GetIntervIdsWithPaymentModeForCredOperBasicListResult" nillable="true" type="q83:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperIntervTypeBySuperTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsConfig.DataStructures" minOccurs="0" name="superTypeAllowed" nillable="true" type="q84:ArrayOfIntervenientSuperType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperIntervTypeBySuperTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://accipiens.com/Common" minOccurs="0" name="GetCredOperIntervTypeBySuperTypeDataListResult" nillable="true" type="q85:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFlowEntityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeCashFlow" type="xs:int" />
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
        <xs:element minOccurs="0" name="valueDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFlowEntityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://accipiens.com/Common" minOccurs="0" name="GetCashFlowEntityListResult" nillable="true" type="q86:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperClaimEntityDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
        <xs:element minOccurs="0" name="credOperIntervTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperClaimEntityDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://accipiens.com/Common" minOccurs="0" name="GetCredOperClaimEntityDataListResult" nillable="true" type="q87:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketCampaignDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperChannelId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="valueDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketCampaignDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://accipiens.com/Common" minOccurs="0" name="GetMarketCampaignDataListResult" nillable="true" type="q88:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="importerId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="purposeTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="marketCampaignId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="customerTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="addProductsWithoutImporters" type="xs:boolean" />
        <xs:element minOccurs="0" name="credOperChannelId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="productPurpose" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="credOperTypeId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://accipiens.com/Common" minOccurs="0" name="GetFinancialProductBasicListResult" nillable="true" type="q89:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductWithRestrictionsBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://accipiens.com/Simulations" minOccurs="0" name="productParam" nillable="true" type="q90:FinProductBasicListParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialProductWithRestrictionsBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://accipiens.com/Common" minOccurs="0" name="GetFinancialProductWithRestrictionsBasicListResult" nillable="true" type="q91:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperChannelDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplBusiness" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplCompany" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperChannelDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://accipiens.com/Common" minOccurs="0" name="GetCredOperChannelDataListResult" nillable="true" type="q92:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolRelatedDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="finSymbolId" type="xs:int" />
        <xs:element minOccurs="0" name="aplCompanyId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="equipmentTypeId" nillable="true" type="xs:int" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Olissipo.EqpPricingInterfaces.DataStructures" minOccurs="0" name="pricingParam" nillable="true" type="q93:EqpPricingParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinSymbolRelatedDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://accipiens.com/Common" minOccurs="0" name="GetFinSymbolRelatedDataListResult" nillable="true" type="q94:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultSymbolIdDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="finSymbolId" type="xs:int" />
        <xs:element minOccurs="0" name="importerId" type="xs:long" />
        <xs:element minOccurs="0" name="aplBusinessPurposeType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultSymbolIdDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://accipiens.com/Common" minOccurs="0" name="GetDefaultSymbolIdDataListResult" nillable="true" type="q95:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperClauseDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplBusinessId" type="xs:int" />
        <xs:element minOccurs="0" name="operTypeId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="clauseContextId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredOperClauseDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://accipiens.com/Common" minOccurs="0" name="GetCredOperClauseDataListResult" nillable="true" type="q96:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertGroupTypeBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="alertOwnerKindId" type="xs:int" />
        <xs:element minOccurs="0" name="credOperId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="intervId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="entityId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertGroupTypeBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://accipiens.com/Common" minOccurs="0" name="GetAlertGroupTypeBasicListResult" nillable="true" type="q97:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertTypeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertGroupTypeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertTypeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://accipiens.com/Common" minOccurs="0" name="GetAlertTypeDataListResult" nillable="true" type="q98:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertOutputsDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alertTypeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertOutputsDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://accipiens.com/Common" minOccurs="0" name="GetAlertOutputsDataListResult" nillable="true" type="q99:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractActiveAutUserStateDataList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractActiveAutUserStateDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://accipiens.com/Common" minOccurs="0" name="GetContractActiveAutUserStateDataListResult" nillable="true" type="q100:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutUserStateByStepAndBusinessDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" nillable="true" type="xs:int" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="credOperSteps" nillable="true" type="q101:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutUserStateByStepAndBusinessDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://accipiens.com/Common" minOccurs="0" name="GetAutUserStateByStepAndBusinessDataListResult" nillable="true" type="q102:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetInternalOperationNone">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetInternalOperationNoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperations.DataStructures" minOccurs="0" name="GetAssetInternalOperationNoneResult" type="q103:AssetInternalOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCredOperItemWithEntityBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCredOperItemWithEntityBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://accipiens.com/Common" minOccurs="0" name="GetSubCredOperItemWithEntityBasicListResult" nillable="true" type="q104:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFlowInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashFlowInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.AuxiliaryClasses" minOccurs="0" name="GetCashFlowInfoResult" nillable="true" type="q105:CashFlowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateIdBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="credOperId" type="xs:long" />
        <xs:element minOccurs="0" name="finCFTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateIdBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://accipiens.com/Common" minOccurs="0" name="GetRateIdBasicListResult" nillable="true" type="q106:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceGrpPriceVersionBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insuranceTypeId" type="xs:long" />
        <xs:element xmlns:q107="http://accipiens.com/CreditOperations" minOccurs="0" name="equipment" nillable="true" type="q107:Equipment" />
        <xs:element minOccurs="0" name="riskPlanTypeAllowedId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceGrpPriceVersionBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://accipiens.com/Common" minOccurs="0" name="GetInsuranceGrpPriceVersionBasicListResult" nillable="true" type="q108:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceRiskTypeAllowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insuranceTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="riskPlanTypeId" nillable="true" type="xs:long" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Olissipo.BusinessFramework.DataStructures" minOccurs="0" name="insuranceConditionsTypeId" nillable="true" type="q109:InsuranceConditionsType" />
        <xs:element minOccurs="0" name="insuranceConditionsId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="financialProductId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="operationVersion" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceRiskTypeAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://accipiens.com/Common" minOccurs="0" name="GetInsuranceRiskTypeAllowedResult" nillable="true" type="q110:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentUsageActionTypeByContextBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentId" type="xs:long" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="usageKindId" type="xs:int" />
        <xs:element minOccurs="0" name="viewAllOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentUsageActionTypeByContextBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentUsageActionTypeByContextBasicListResult" nillable="true" type="q111:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentUsageTypeByContextBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentId" type="xs:long" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="viewAllOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentUsageTypeByContextBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentUsageTypeByContextBasicListResult" nillable="true" type="q112:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMLATemplateCredOperBasicList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MLACredOperId" type="xs:long" />
        <xs:element minOccurs="0" name="aplCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="entityId" type="xs:long" />
        <xs:element minOccurs="0" name="proposalBeginDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMLATemplateCredOperBasicListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://accipiens.com/Common" minOccurs="0" name="GetMLATemplateCredOperBasicListResult" nillable="true" type="q113:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepreciationBindingModeDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aplBusinessId" type="xs:int" />
        <xs:element minOccurs="0" name="assetSituationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepreciationBindingModeDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://accipiens.com/Common" minOccurs="0" name="GetDepreciationBindingModeDataListResult" nillable="true" type="q114:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentRegistrationAuthoringDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipRegistrationTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="aplBusinessId" type="xs:int" />
        <xs:element minOccurs="0" name="entityId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentRegistrationAuthoringDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://accipiens.com/Common" minOccurs="0" name="GetEquipmentRegistrationAuthoringDataListResult" nillable="true" type="q115:BasicList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>