ConsoleApp1/ConsoleApp1/Connected Services/SVC_OPBasicLists/CreditOperationsBasicLists15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.AuxiliaryClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Olissipo.CreditOperationsInterfaces.AuxiliaryClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc?xsd=xsd3" namespace="http://accipiens.com/Common" />
  <xs:complexType name="CashFlowInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://accipiens.com/Common" minOccurs="0" name="CashFlowTypes" nillable="true" type="q1:BasicList" />
      <xs:element minOccurs="0" name="HasEntity" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSubCredOperItem" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashFlowInfo" nillable="true" type="tns:CashFlowInfo" />
</xs:schema>