ConsoleApp1/ConsoleApp1/Connected Services/SVC_Logon/Logon2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://accipiens.com" elementFormDefault="qualified" targetNamespace="http://accipiens.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/SecurityWebServices/Logon.svc?xsd=xsd2" namespace="http://accipiens.com/Common" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/SecurityWebServices/Logon.svc?xsd=xsd3" namespace="http://accipiens.com/VirtualData" />
  <xs:element name="PingServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAboutInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAboutInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://accipiens.com/Common" minOccurs="0" name="GetAboutInfoResult" nillable="true" type="q1:AboutVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccipiensAboutInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccipiensAboutInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://accipiens.com/Common" minOccurs="0" name="GetAccipiensAboutInfoResult" nillable="true" type="q2:AboutVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameworkFullAboutInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrameworkFullAboutInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFrameworkFullAboutInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemDatabaseInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemDatabaseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://accipiens.com/Common" minOccurs="0" name="GetSystemDatabaseInfoResult" nillable="true" type="q3:SystemDatabaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCpuCountLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpuCount" type="xs:int" />
        <xs:element xmlns:q4="http://accipiens.com/Common" minOccurs="0" name="extraInfo" nillable="true" type="q4:LoginExtraInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCpuCountLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCpuCountLicenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCacheKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCacheKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserCacheKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplConstraintCacheKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAplConstraintCacheKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAplConstraintCacheKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheSyncCfgInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheSyncCfgInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://accipiens.com/Common" minOccurs="0" name="GetCacheSyncCfgInfoResult" nillable="true" type="q5:CacheSyncCfgInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignalCacheSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://accipiens.com/Common" minOccurs="0" name="kind" type="q6:CacheKind" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignalCacheSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignalCacheSyncResult" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheSyncSince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentSyncId" nillable="true" type="xs:long" />
        <xs:element xmlns:q7="http://accipiens.com/Common" minOccurs="0" name="superType" nillable="true" type="q7:CacheSuperType" />
        <xs:element xmlns:q8="http://accipiens.com/Common" minOccurs="0" name="kinds" nillable="true" type="q8:ArrayOfCacheKind" />
        <xs:element minOccurs="0" name="notEqualToHostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheSyncSinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://accipiens.com/VirtualData" minOccurs="0" name="GetCacheSyncSinceResult" nillable="true" type="q9:ArrayOfCacheSync" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWindowsUserAndGetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://accipiens.com/Common" minOccurs="0" name="extraInfo" nillable="true" type="q10:LoginExtraInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWindowsUserAndGetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://accipiens.com/Common" minOccurs="0" name="LoginWindowsUserAndGetTokenResult" nillable="true" type="q11:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWindowsUserAndGetToken2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionCulture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionUICulture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userMachine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserCulture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserUICulture" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWindowsUserAndGetToken2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://accipiens.com/Common" minOccurs="0" name="LoginWindowsUserAndGetToken2Result" nillable="true" type="q12:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCustomUserAndGetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://accipiens.com/Common" minOccurs="0" name="extraInfo" nillable="true" type="q13:LoginExtraInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCustomUserAndGetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://accipiens.com/Common" minOccurs="0" name="LoginCustomUserAndGetTokenResult" nillable="true" type="q14:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCustomUserAndGetToken2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionCulture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionUICulture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userMachine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCustomUserAndGetToken2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://accipiens.com/Common" minOccurs="0" name="LoginCustomUserAndGetToken2Result" nillable="true" type="q15:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://accipiens.com/Common" minOccurs="0" name="extraInfo" nillable="true" type="q16:LoginExtraInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://accipiens.com/Common" minOccurs="0" name="RecoverPasswordResult" nillable="true" type="q17:RecoverPwdResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>