ConsoleApp1/ConsoleApp1/Connected Services/SVC_AutomatonsBasicLists/AutomatonsBasicLists1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://accipiens.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AutomatonsBasicLists" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_AutomatonsBasicLists_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <http:NtlmAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://accipiens.com" location="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_AutomatonsBasicLists" type="i0:AutomatonsBasicLists">
    <wsp:PolicyReference URI="#CustomBinding_AutomatonsBasicLists_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataWithForeign">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetDataWithForeign" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetDataWithForeign_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetDataList" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetDataList_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetForeignDataList">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetForeignDataList" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetForeignDataList_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAutomatonInternalCodeDataList">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetAutomatonInternalCodeDataList" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetAutomatonInternalCodeDataList_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAutomatonReasonDataList">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetAutomatonReasonDataList" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetAutomatonReasonDataList_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAutUserStateDataList">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetAutUserStateDataList" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetAutUserStateDataList_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAutomatonsAutUserStateDataList">
      <soap12:operation soapAction="http://accipiens.com/AutomatonsBasicLists/GetAutomatonsAutUserStateDataList" style="document" />
      <wsdl:input>
        <soap12:header message="i0:AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_InputMessage_Headers" part="SessionToken" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AcpDetail">
        <soap12:fault use="literal" name="AcpDetail" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutomatonsBasicLists">
    <wsdl:port name="CustomBinding_AutomatonsBasicLists" binding="tns:CustomBinding_AutomatonsBasicLists">
      <soap12:address location="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>eb@vantyx.lan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>