ConsoleApp1/ConsoleApp1/Connected Services/SVC_AutomatonsBasicLists/AutomatonsBasicLists.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://accipiens.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://accipiens.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://accipiens.com/Imports">
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd0" namespace="http://accipiens.com" />
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd3" namespace="http://accipiens.com/Common" />
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Olissipo.Automatons.Facade" />
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Olissipo.Utils" />
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Olissipo.Automatons.Decoder" />
      <xsd:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AutomatonsBasicLists_GetDataWithForeign_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithForeign" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataWithForeign_InputMessage_Headers">
    <wsdl:part xmlns:q1="http://accipiens.com/Common" name="SessionToken" element="q1:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataWithForeign_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithForeignResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataWithForeign_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q2="http://accipiens.com/Common" name="detail" element="q2:AcpDetail" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataList" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataList_InputMessage_Headers">
    <wsdl:part xmlns:q3="http://accipiens.com/Common" name="SessionToken" element="q3:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataListResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetDataList_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q4="http://accipiens.com/Common" name="detail" element="q4:AcpDetail" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetForeignDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForeignDataList" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetForeignDataList_InputMessage_Headers">
    <wsdl:part xmlns:q5="http://accipiens.com/Common" name="SessionToken" element="q5:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetForeignDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForeignDataListResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetForeignDataList_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q6="http://accipiens.com/Common" name="detail" element="q6:AcpDetail" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonInternalCodeDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutomatonInternalCodeDataList" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonInternalCodeDataList_InputMessage_Headers">
    <wsdl:part xmlns:q7="http://accipiens.com/Common" name="SessionToken" element="q7:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonInternalCodeDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutomatonInternalCodeDataListResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonInternalCodeDataList_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q8="http://accipiens.com/Common" name="detail" element="q8:AcpDetail" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonReasonDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutomatonReasonDataList" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonReasonDataList_InputMessage_Headers">
    <wsdl:part xmlns:q9="http://accipiens.com/Common" name="SessionToken" element="q9:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonReasonDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutomatonReasonDataListResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonReasonDataList_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q10="http://accipiens.com/Common" name="detail" element="q10:AcpDetail" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutUserStateDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutUserStateDataList" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutUserStateDataList_InputMessage_Headers">
    <wsdl:part xmlns:q11="http://accipiens.com/Common" name="SessionToken" element="q11:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutUserStateDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutUserStateDataListResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutUserStateDataList_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q12="http://accipiens.com/Common" name="detail" element="q12:AcpDetail" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutomatonsAutUserStateDataList" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_InputMessage_Headers">
    <wsdl:part xmlns:q13="http://accipiens.com/Common" name="SessionToken" element="q13:SessionToken" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutomatonsAutUserStateDataListResponse" />
  </wsdl:message>
  <wsdl:message name="AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_AcpDetail_FaultMessage">
    <wsdl:part xmlns:q14="http://accipiens.com/Common" name="detail" element="q14:AcpDetail" />
  </wsdl:message>
  <wsdl:portType name="AutomatonsBasicLists">
    <wsdl:operation name="GetDataWithForeign">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetDataWithForeign" message="tns:AutomatonsBasicLists_GetDataWithForeign_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetDataWithForeignResponse" message="tns:AutomatonsBasicLists_GetDataWithForeign_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetDataWithForeign_AcpDetail_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataList">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetDataList" message="tns:AutomatonsBasicLists_GetDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetDataListResponse" message="tns:AutomatonsBasicLists_GetDataList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetDataList_AcpDetail_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForeignDataList">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetForeignDataList" message="tns:AutomatonsBasicLists_GetForeignDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetForeignDataListResponse" message="tns:AutomatonsBasicLists_GetForeignDataList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetForeignDataList_AcpDetail_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutomatonInternalCodeDataList">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutomatonInternalCodeDataList" message="tns:AutomatonsBasicLists_GetAutomatonInternalCodeDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutomatonInternalCodeDataListResponse" message="tns:AutomatonsBasicLists_GetAutomatonInternalCodeDataList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetAutomatonInternalCodeDataList_AcpDetail_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutomatonReasonDataList">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutomatonReasonDataList" message="tns:AutomatonsBasicLists_GetAutomatonReasonDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutomatonReasonDataListResponse" message="tns:AutomatonsBasicLists_GetAutomatonReasonDataList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetAutomatonReasonDataList_AcpDetail_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutUserStateDataList">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutUserStateDataList" message="tns:AutomatonsBasicLists_GetAutUserStateDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutUserStateDataListResponse" message="tns:AutomatonsBasicLists_GetAutUserStateDataList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetAutUserStateDataList_AcpDetail_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutomatonsAutUserStateDataList">
      <wsdl:input wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutomatonsAutUserStateDataList" message="tns:AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://accipiens.com/AutomatonsBasicLists/GetAutomatonsAutUserStateDataListResponse" message="tns:AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://accipiens.com/AcpDetailError" name="AcpDetail" message="tns:AutomatonsBasicLists_GetAutomatonsAutUserStateDataList_AcpDetail_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>