ConsoleApp1/ConsoleApp1/Connected Services/SVC_AcpParameterizations/AcpParameterization11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Olissipo.CommonGeneric.Framework.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Olissipo.CommonGeneric.Framework.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/Framework/AcpParameterization.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="InstallationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Production" />
      <xs:enumeration value="Test" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InstallationType" nillable="true" type="tns:InstallationType" />
  <xs:complexType name="FileSecurityConfig">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllowedExtensions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorExtensions" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="FileNameMaxSize" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FileNameRegExpr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaveFilesFolderOnUpload" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileSecurityConfig" nillable="true" type="tns:FileSecurityConfig" />
</xs:schema>