ConsoleApp1/ConsoleApp1/Connected Services/SVC_CreditOperation/CreditOperations26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://accipiens.com/AcpFramework" elementFormDefault="qualified" targetNamespace="http://accipiens.com/AcpFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/CreditOperations.svc?xsd=xsd2" namespace="http://accipiens.com/Common" />
  <xs:import schemaLocation="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/CreditOperations.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PaymentDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AplBankAccountId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFormat" nillable="true" type="tns:BankAccountDataFormat" />
      <xs:element minOccurs="0" name="Iban" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRecurring" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Swift" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentDataInfo" nillable="true" type="tns:PaymentDataInfo" />
  <xs:simpleType name="BankAccountDataFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bban" />
      <xs:enumeration value="Iban" />
      <xs:enumeration value="SwiftIban" />
      <xs:enumeration value="SwiftBankNameAccount" />
      <xs:enumeration value="BbanReference" />
      <xs:enumeration value="Reference" />
      <xs:enumeration value="SwiftIbanReferenceIsRecurring" />
      <xs:enumeration value="SwiftBankNameAccountAgencyName" />
      <xs:enumeration value="AccountReferenceRef2Ref3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BankAccountDataFormat" nillable="true" type="tns:BankAccountDataFormat" />
  <xs:complexType name="ArrayOfWorkPeriodOwnerItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkPeriodOwnerItem" nillable="true" type="tns:WorkPeriodOwnerItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkPeriodOwnerItem" nillable="true" type="tns:ArrayOfWorkPeriodOwnerItem" />
  <xs:complexType name="WorkPeriodOwnerItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WorkPeriodTypeItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkPeriodOwnerItem" nillable="true" type="tns:WorkPeriodOwnerItem" />
  <xs:complexType name="WorkPeriodTypeItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://accipiens.com/Common" base="q1:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeginHour" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BeginMinute" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndHour" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EndMinute" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:WorkPeriodTypeItemKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:WorkPeriodTypeItemDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:WorkPeriodTypeItemField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfWorkPeriodTypeItemField" />
          <xs:element minOccurs="0" name="OnFriday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnHoliday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnMonday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnSaturday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnSunday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnThursday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnTuesday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OnWednesday" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="OwnerId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="WorkPeriodTypeId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkPeriodTypeItem" nillable="true" type="tns:WorkPeriodTypeItem" />
  <xs:complexType name="WorkPeriodTypeItemKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://accipiens.com/Common" base="q2:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WorkPeriodTypeItemKey" nillable="true" type="tns:WorkPeriodTypeItemKey" />
  <xs:simpleType name="WorkPeriodTypeItemDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkPeriodTypeItemDetail" nillable="true" type="tns:WorkPeriodTypeItemDetail" />
  <xs:simpleType name="WorkPeriodTypeItemField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="WorkPeriodTypeId" />
      <xs:enumeration value="OnMonday" />
      <xs:enumeration value="OnTuesday" />
      <xs:enumeration value="OnWednesday" />
      <xs:enumeration value="OnThursday" />
      <xs:enumeration value="OnFriday" />
      <xs:enumeration value="OnSaturday" />
      <xs:enumeration value="OnSunday" />
      <xs:enumeration value="OnHoliday" />
      <xs:enumeration value="BeginHour" />
      <xs:enumeration value="BeginMinute" />
      <xs:enumeration value="EndHour" />
      <xs:enumeration value="EndMinute" />
      <xs:enumeration value="OwnerId" />
      <xs:enumeration value="Descr" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkPeriodTypeItemField" nillable="true" type="tns:WorkPeriodTypeItemField" />
  <xs:complexType name="ArrayOfWorkPeriodTypeItemField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkPeriodTypeItemField" type="tns:WorkPeriodTypeItemField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkPeriodTypeItemField" nillable="true" type="tns:ArrayOfWorkPeriodTypeItemField" />
  <xs:complexType name="ExpenseTypeByTable">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://accipiens.com/Common" base="q3:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplTableId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="IsBinding" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDefault" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsInvoicedOnAutAction" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsToFinance" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ExpenseTypeByTableKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:ExpenseTypeByTableDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:ExpenseTypeByTableField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfExpenseTypeByTableField" />
          <xs:element minOccurs="0" name="RelatedId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeByTable" nillable="true" type="tns:ExpenseTypeByTable" />
  <xs:complexType name="ExpenseTypeByTableKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://accipiens.com/Common" base="q4:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplTableId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="RelatedId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeByTableKey" nillable="true" type="tns:ExpenseTypeByTableKey" />
  <xs:simpleType name="ExpenseTypeByTableDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeByTableDetail" nillable="true" type="tns:ExpenseTypeByTableDetail" />
  <xs:simpleType name="ExpenseTypeByTableField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="AplTableId" />
      <xs:enumeration value="RelatedId" />
      <xs:enumeration value="ExpenseTypeId" />
      <xs:enumeration value="IsDefault" />
      <xs:enumeration value="IsBinding" />
      <xs:enumeration value="IsInvoicedOnAutAction" />
      <xs:enumeration value="IsToFinance" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeByTableField" nillable="true" type="tns:ExpenseTypeByTableField" />
  <xs:complexType name="ArrayOfExpenseTypeByTableField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeByTableField" type="tns:ExpenseTypeByTableField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeByTableField" nillable="true" type="tns:ArrayOfExpenseTypeByTableField" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://accipiens.com/Common" base="q5:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Apartment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Council" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CouncilCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FetchLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="HouseNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InvalidDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AddressKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AddressDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AddressField" />
          <xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAddressField" />
          <xs:element minOccurs="0" name="OccupiedPoint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetTypeId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="AddressKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://accipiens.com/Common" base="q6:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressKey" nillable="true" type="tns:AddressKey" />
  <xs:simpleType name="AddressDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressDetail" nillable="true" type="tns:AddressDetail" />
  <xs:simpleType name="AddressField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="CountryId" />
      <xs:enumeration value="Street" />
      <xs:enumeration value="PostalCode" />
      <xs:enumeration value="Locality" />
      <xs:enumeration value="AddressTypeId" />
      <xs:enumeration value="StreetTypeId" />
      <xs:enumeration value="StreetNumber" />
      <xs:enumeration value="HouseNumber" />
      <xs:enumeration value="InvalidDate" />
      <xs:enumeration value="Place" />
      <xs:enumeration value="FetchLevel" />
      <xs:enumeration value="District" />
      <xs:enumeration value="Region" />
      <xs:enumeration value="OccupiedPoint" />
      <xs:enumeration value="DistrictCode" />
      <xs:enumeration value="Building" />
      <xs:enumeration value="Apartment" />
      <xs:enumeration value="Council" />
      <xs:enumeration value="CouncilCode" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddressField" nillable="true" type="tns:AddressField" />
  <xs:complexType name="ArrayOfAddressField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressField" type="tns:AddressField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressField" nillable="true" type="tns:ArrayOfAddressField" />
  <xs:complexType name="ExpenseType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://accipiens.com/Common" base="q7:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountingModes" nillable="true" type="tns:ArrayOfExpenseTypeAccounting" />
          <xs:element minOccurs="0" name="AnnulAplStatementId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AplCompanyId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Businesses" nillable="true" type="tns:ArrayOfExpenseTypeBusiness" />
          <xs:element minOccurs="0" name="CalcAplStatementId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="CanChangeAccMode" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntityToInvoiceId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseAccountingModeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseAmounts" nillable="true" type="tns:ArrayOfExpenseTypeAmount" />
          <xs:element minOccurs="0" name="ExpenseBaseId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseCalcModeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseCalcMomentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseSuperTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseTaxTypeModeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExpenseVisibleFieldsId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FetchLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FlowTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="HasPeriodification" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasSingleInvoice" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InvalidDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceCurrencyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAmountReadOnly" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDebit" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTaxExpense" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsToInvoiceFrameContractForManualAssign" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ExpenseTypeKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:ExpenseTypeDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:ExpenseTypeField" />
          <xs:element minOccurs="0" name="MaxExpensePercentage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MinExpensePercentage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfExpenseTypeField" />
          <xs:element minOccurs="0" name="ScopeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TaxClassifierId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TaxNatureId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TaxRegimeSourceId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseType" nillable="true" type="tns:ExpenseType" />
  <xs:complexType name="ArrayOfExpenseTypeAccounting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeAccounting" nillable="true" type="tns:ExpenseTypeAccounting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeAccounting" nillable="true" type="tns:ArrayOfExpenseTypeAccounting" />
  <xs:complexType name="ExpenseTypeAccounting">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://accipiens.com/Common" base="q8:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExpenseAccountingModeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="FlowTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ExpenseTypeAccountingKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:ExpenseTypeAccountingDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:ExpenseTypeAccountingField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfExpenseTypeAccountingField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeAccounting" nillable="true" type="tns:ExpenseTypeAccounting" />
  <xs:complexType name="ExpenseTypeAccountingKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://accipiens.com/Common" base="q9:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExpenseAccountingModeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeAccountingKey" nillable="true" type="tns:ExpenseTypeAccountingKey" />
  <xs:simpleType name="ExpenseTypeAccountingDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeAccountingDetail" nillable="true" type="tns:ExpenseTypeAccountingDetail" />
  <xs:simpleType name="ExpenseTypeAccountingField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="ExpenseTypeId" />
      <xs:enumeration value="ExpenseAccountingModeId" />
      <xs:enumeration value="FlowTypeId" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeAccountingField" nillable="true" type="tns:ExpenseTypeAccountingField" />
  <xs:complexType name="ArrayOfExpenseTypeAccountingField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeAccountingField" type="tns:ExpenseTypeAccountingField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeAccountingField" nillable="true" type="tns:ArrayOfExpenseTypeAccountingField" />
  <xs:complexType name="ArrayOfExpenseTypeBusiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeBusiness" nillable="true" type="tns:ExpenseTypeBusiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeBusiness" nillable="true" type="tns:ArrayOfExpenseTypeBusiness" />
  <xs:complexType name="ExpenseTypeBusiness">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://accipiens.com/Common" base="q10:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplBusinessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ExpenseTypeBusinessKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:ExpenseTypeBusinessDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:ExpenseTypeBusinessField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfExpenseTypeBusinessField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeBusiness" nillable="true" type="tns:ExpenseTypeBusiness" />
  <xs:complexType name="ExpenseTypeBusinessKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://accipiens.com/Common" base="q11:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplBusinessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeBusinessKey" nillable="true" type="tns:ExpenseTypeBusinessKey" />
  <xs:simpleType name="ExpenseTypeBusinessDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeBusinessDetail" nillable="true" type="tns:ExpenseTypeBusinessDetail" />
  <xs:simpleType name="ExpenseTypeBusinessField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="ExpenseTypeId" />
      <xs:enumeration value="AplBusinessId" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeBusinessField" nillable="true" type="tns:ExpenseTypeBusinessField" />
  <xs:complexType name="ArrayOfExpenseTypeBusinessField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeBusinessField" type="tns:ExpenseTypeBusinessField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeBusinessField" nillable="true" type="tns:ArrayOfExpenseTypeBusinessField" />
  <xs:complexType name="ArrayOfExpenseTypeAmount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeAmount" nillable="true" type="tns:ExpenseTypeAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeAmount" nillable="true" type="tns:ArrayOfExpenseTypeAmount" />
  <xs:complexType name="ExpenseTypeAmount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://accipiens.com/Common" base="q12:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplBusinessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ExpenseValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:ExpenseTypeAmountKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:ExpenseTypeAmountDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:ExpenseTypeAmountField" />
          <xs:element minOccurs="0" name="MaxExpenseAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MaxExpensePercentage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MinBaseAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MinExpenseAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MinExpenseAmountToInvoice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MinExpensePercentage" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfExpenseTypeAmountField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeAmount" nillable="true" type="tns:ExpenseTypeAmount" />
  <xs:complexType name="ExpenseTypeAmountKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://accipiens.com/Common" base="q13:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplBusinessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CurrencyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpenseTypeId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeAmountKey" nillable="true" type="tns:ExpenseTypeAmountKey" />
  <xs:simpleType name="ExpenseTypeAmountDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeAmountDetail" nillable="true" type="tns:ExpenseTypeAmountDetail" />
  <xs:simpleType name="ExpenseTypeAmountField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="ExpenseTypeId" />
      <xs:enumeration value="CurrencyId" />
      <xs:enumeration value="AplBusinessId" />
      <xs:enumeration value="ExpenseValue" />
      <xs:enumeration value="MinExpensePercentage" />
      <xs:enumeration value="MaxExpensePercentage" />
      <xs:enumeration value="MinExpenseAmount" />
      <xs:enumeration value="MaxExpenseAmount" />
      <xs:enumeration value="MinBaseAmount" />
      <xs:enumeration value="MinExpenseAmountToInvoice" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeAmountField" nillable="true" type="tns:ExpenseTypeAmountField" />
  <xs:complexType name="ArrayOfExpenseTypeAmountField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeAmountField" type="tns:ExpenseTypeAmountField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeAmountField" nillable="true" type="tns:ArrayOfExpenseTypeAmountField" />
  <xs:complexType name="ExpenseTypeKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://accipiens.com/Common" base="q14:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AplCompanyId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseTypeKey" nillable="true" type="tns:ExpenseTypeKey" />
  <xs:simpleType name="ExpenseTypeDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountingMode" />
      <xs:enumeration value="Business" />
      <xs:enumeration value="ExpenseAmount" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeDetail" nillable="true" type="tns:ExpenseTypeDetail" />
  <xs:simpleType name="ExpenseTypeField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="Abrev" />
      <xs:enumeration value="Descr" />
      <xs:enumeration value="ExpenseCalcModeId" />
      <xs:enumeration value="CalcAplStatementId" />
      <xs:enumeration value="ExpenseValue" />
      <xs:enumeration value="FlowTypeId" />
      <xs:enumeration value="EventId" />
      <xs:enumeration value="IsTaxExpense" />
      <xs:enumeration value="AplCompanyId" />
      <xs:enumeration value="TaxNatureId" />
      <xs:enumeration value="TaxClassifierId" />
      <xs:enumeration value="TaxRegimeSourceId" />
      <xs:enumeration value="HasPeriodification" />
      <xs:enumeration value="ExpenseAccountingModeId" />
      <xs:enumeration value="CanChangeAccMode" />
      <xs:enumeration value="AnnulAplStatementId" />
      <xs:enumeration value="CurrencyId" />
      <xs:enumeration value="ExpenseSuperTypeId" />
      <xs:enumeration value="IsDebit" />
      <xs:enumeration value="ScopeId" />
      <xs:enumeration value="FetchLevel" />
      <xs:enumeration value="InvalidDate" />
      <xs:enumeration value="ExpenseCalcMomentId" />
      <xs:enumeration value="EntityToInvoiceId" />
      <xs:enumeration value="ExpenseBaseId" />
      <xs:enumeration value="MinExpensePercentage" />
      <xs:enumeration value="MaxExpensePercentage" />
      <xs:enumeration value="InvoiceCurrencyId" />
      <xs:enumeration value="HasSingleInvoice" />
      <xs:enumeration value="ExpenseVisibleFieldsId" />
      <xs:enumeration value="IsAmountReadOnly" />
      <xs:enumeration value="ExpenseTaxTypeModeId" />
      <xs:enumeration value="IsToInvoiceFrameContractForManualAssign" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpenseTypeField" nillable="true" type="tns:ExpenseTypeField" />
  <xs:complexType name="ArrayOfExpenseTypeField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeField" type="tns:ExpenseTypeField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeField" nillable="true" type="tns:ArrayOfExpenseTypeField" />
  <xs:complexType name="OperType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://accipiens.com/Common" base="q15:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AplBusinessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AplBusinessLineId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AplCompanyId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DelayInterestRateId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FetchLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InvalidDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:OperTypeKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:OperTypeDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:OperTypeField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfOperTypeField" />
          <xs:element minOccurs="0" name="NumerationId" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperType" nillable="true" type="tns:OperType" />
  <xs:complexType name="OperTypeKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://accipiens.com/Common" base="q16:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AplBusinessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AplCompanyId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperTypeKey" nillable="true" type="tns:OperTypeKey" />
  <xs:simpleType name="OperTypeDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperTypeDetail" nillable="true" type="tns:OperTypeDetail" />
  <xs:simpleType name="OperTypeField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="Abrev" />
      <xs:enumeration value="Descr" />
      <xs:enumeration value="AplCompanyId" />
      <xs:enumeration value="AplBusinessId" />
      <xs:enumeration value="FetchLevel" />
      <xs:enumeration value="InvalidDate" />
      <xs:enumeration value="NumerationId" />
      <xs:enumeration value="DelayInterestRateId" />
      <xs:enumeration value="AccountSuffix" />
      <xs:enumeration value="AplBusinessLineId" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperTypeField" nillable="true" type="tns:OperTypeField" />
  <xs:complexType name="ArrayOfOperTypeField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperTypeField" type="tns:OperTypeField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperTypeField" nillable="true" type="tns:ArrayOfOperTypeField" />
  <xs:complexType name="ArrayOfAplFormResp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormResp" nillable="true" type="tns:AplFormResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormResp" nillable="true" type="tns:ArrayOfAplFormResp" />
  <xs:complexType name="AplFormResp">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://accipiens.com/Common" base="q17:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplFormId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AplUserId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="CreationMoment" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndMoment" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Form" nillable="true" type="tns:AplForm" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplFormRespKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplFormRespDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplFormRespField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplFormRespField" />
          <xs:element minOccurs="0" name="Observations" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OwnerId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="ResponseQuestions" nillable="true" type="tns:ArrayOfAplFormResponseQuestion" />
          <xs:element minOccurs="0" name="StartMoment" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormResp" nillable="true" type="tns:AplFormResp" />
  <xs:complexType name="AplForm">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://accipiens.com/Common" base="q18:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplFormKind" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreationMoment" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndMoment" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FetchLevel" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FormQuestions" nillable="true" type="tns:ArrayOfAplFormQuestion" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InvalidDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplFormKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplFormDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplFormField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplFormField" />
          <xs:element minOccurs="0" name="StartMoment" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplForm" nillable="true" type="tns:AplForm" />
  <xs:complexType name="ArrayOfAplFormQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormQuestion" nillable="true" type="tns:AplFormQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormQuestion" nillable="true" type="tns:ArrayOfAplFormQuestion" />
  <xs:complexType name="AplFormQuestion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://accipiens.com/Common" base="q19:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplFormId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AplQuestionId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="DefaultAplFormAnswerTypeValueId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="IsHeaderQuestion" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRequired" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplFormQuestionKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplFormQuestionDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplFormQuestionField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplFormQuestionField" />
          <xs:element minOccurs="0" name="Question" nillable="true" type="tns:AplQuestion" />
          <xs:element minOccurs="0" name="QuestionOrder" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormQuestion" nillable="true" type="tns:AplFormQuestion" />
  <xs:complexType name="AplFormQuestionKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://accipiens.com/Common" base="q20:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplFormId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AplQuestionId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormQuestionKey" nillable="true" type="tns:AplFormQuestionKey" />
  <xs:simpleType name="AplFormQuestionDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Question" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormQuestionDetail" nillable="true" type="tns:AplFormQuestionDetail" />
  <xs:simpleType name="AplFormQuestionField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="AplFormId" />
      <xs:enumeration value="AplQuestionId" />
      <xs:enumeration value="IsRequired" />
      <xs:enumeration value="IsHeaderQuestion" />
      <xs:enumeration value="QuestionOrder" />
      <xs:enumeration value="DefaultAplFormAnswerTypeValueId" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormQuestionField" nillable="true" type="tns:AplFormQuestionField" />
  <xs:complexType name="ArrayOfAplFormQuestionField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormQuestionField" type="tns:AplFormQuestionField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormQuestionField" nillable="true" type="tns:ArrayOfAplFormQuestionField" />
  <xs:complexType name="AplQuestion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://accipiens.com/Common" base="q21:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerType" nillable="true" type="tns:AplFormAnswerType" />
          <xs:element minOccurs="0" name="AplFormAnswerTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FormQuestions" nillable="true" type="tns:ArrayOfAplFormQuestion" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InternalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplQuestionKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplQuestionDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplQuestionField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplQuestionField" />
          <xs:element minOccurs="0" name="Observations" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplQuestion" nillable="true" type="tns:AplQuestion" />
  <xs:complexType name="AplFormAnswerType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://accipiens.com/Common" base="q22:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerTypeValues" nillable="true" type="tns:ArrayOfAplFormAnswerTypeValue" />
          <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsFreeText" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplFormAnswerTypeKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplFormAnswerTypeDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplFormAnswerTypeField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplFormAnswerTypeField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormAnswerType" nillable="true" type="tns:AplFormAnswerType" />
  <xs:complexType name="ArrayOfAplFormAnswerTypeValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormAnswerTypeValue" nillable="true" type="tns:AplFormAnswerTypeValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormAnswerTypeValue" nillable="true" type="tns:ArrayOfAplFormAnswerTypeValue" />
  <xs:complexType name="AplFormAnswerTypeValue">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://accipiens.com/Common" base="q23:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AnswerTypeValueOrder" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AplFormAnswerTypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Descr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplFormAnswerTypeValueKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplFormAnswerTypeValueDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplFormAnswerTypeValueField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplFormAnswerTypeValueField" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormAnswerTypeValue" nillable="true" type="tns:AplFormAnswerTypeValue" />
  <xs:complexType name="AplFormAnswerTypeValueKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://accipiens.com/Common" base="q24:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormAnswerTypeValueKey" nillable="true" type="tns:AplFormAnswerTypeValueKey" />
  <xs:simpleType name="AplFormAnswerTypeValueDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormAnswerTypeValueDetail" nillable="true" type="tns:AplFormAnswerTypeValueDetail" />
  <xs:simpleType name="AplFormAnswerTypeValueField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="AplFormAnswerTypeId" />
      <xs:enumeration value="Abrev" />
      <xs:enumeration value="Descr" />
      <xs:enumeration value="AnswerTypeValueOrder" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormAnswerTypeValueField" nillable="true" type="tns:AplFormAnswerTypeValueField" />
  <xs:complexType name="ArrayOfAplFormAnswerTypeValueField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormAnswerTypeValueField" type="tns:AplFormAnswerTypeValueField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormAnswerTypeValueField" nillable="true" type="tns:ArrayOfAplFormAnswerTypeValueField" />
  <xs:complexType name="AplFormAnswerTypeKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://accipiens.com/Common" base="q25:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormAnswerTypeKey" nillable="true" type="tns:AplFormAnswerTypeKey" />
  <xs:simpleType name="AplFormAnswerTypeDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AnswerTypeValue" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormAnswerTypeDetail" nillable="true" type="tns:AplFormAnswerTypeDetail" />
  <xs:simpleType name="AplFormAnswerTypeField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="Abrev" />
      <xs:enumeration value="Descr" />
      <xs:enumeration value="IsFreeText" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormAnswerTypeField" nillable="true" type="tns:AplFormAnswerTypeField" />
  <xs:complexType name="ArrayOfAplFormAnswerTypeField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormAnswerTypeField" type="tns:AplFormAnswerTypeField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormAnswerTypeField" nillable="true" type="tns:ArrayOfAplFormAnswerTypeField" />
  <xs:complexType name="AplQuestionKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://accipiens.com/Common" base="q26:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InternalCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplQuestionKey" nillable="true" type="tns:AplQuestionKey" />
  <xs:simpleType name="AplQuestionDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AnswerType" />
      <xs:enumeration value="FormQuestion" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplQuestionDetail" nillable="true" type="tns:AplQuestionDetail" />
  <xs:simpleType name="AplQuestionField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="Abrev" />
      <xs:enumeration value="Question" />
      <xs:enumeration value="Observations" />
      <xs:enumeration value="InternalCode" />
      <xs:enumeration value="AplFormAnswerTypeId" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplQuestionField" nillable="true" type="tns:AplQuestionField" />
  <xs:complexType name="ArrayOfAplQuestionField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplQuestionField" type="tns:AplQuestionField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplQuestionField" nillable="true" type="tns:ArrayOfAplQuestionField" />
  <xs:complexType name="AplFormKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://accipiens.com/Common" base="q27:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormKey" nillable="true" type="tns:AplFormKey" />
  <xs:simpleType name="AplFormDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FormQuestion" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormDetail" nillable="true" type="tns:AplFormDetail" />
  <xs:simpleType name="AplFormField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="Title" />
      <xs:enumeration value="SubTitle" />
      <xs:enumeration value="Descr" />
      <xs:enumeration value="CreationMoment" />
      <xs:enumeration value="StartMoment" />
      <xs:enumeration value="EndMoment" />
      <xs:enumeration value="Version" />
      <xs:enumeration value="FetchLevel" />
      <xs:enumeration value="InvalidDate" />
      <xs:enumeration value="AplFormKind" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormField" nillable="true" type="tns:AplFormField" />
  <xs:complexType name="ArrayOfAplFormField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormField" type="tns:AplFormField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormField" nillable="true" type="tns:ArrayOfAplFormField" />
  <xs:complexType name="AplFormRespKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://accipiens.com/Common" base="q28:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormRespKey" nillable="true" type="tns:AplFormRespKey" />
  <xs:simpleType name="AplFormRespDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Form" />
      <xs:enumeration value="ResponseQuestion" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormRespDetail" nillable="true" type="tns:AplFormRespDetail" />
  <xs:simpleType name="AplFormRespField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="AplFormId" />
      <xs:enumeration value="AplUserId" />
      <xs:enumeration value="OwnerId" />
      <xs:enumeration value="CreationMoment" />
      <xs:enumeration value="StartMoment" />
      <xs:enumeration value="EndMoment" />
      <xs:enumeration value="Observations" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormRespField" nillable="true" type="tns:AplFormRespField" />
  <xs:complexType name="ArrayOfAplFormRespField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormRespField" type="tns:AplFormRespField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormRespField" nillable="true" type="tns:ArrayOfAplFormRespField" />
  <xs:complexType name="ArrayOfAplFormResponseQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormResponseQuestion" nillable="true" type="tns:AplFormResponseQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormResponseQuestion" nillable="true" type="tns:ArrayOfAplFormResponseQuestion" />
  <xs:complexType name="AplFormResponseQuestion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://accipiens.com/Common" base="q29:BusinessEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AplFormAnswerTypeValueId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AplFormRespId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="AplQuestionId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Key" nillable="true" type="tns:AplFormResponseQuestionKey" />
          <xs:element minOccurs="0" name="LastDetail" type="tns:AplFormResponseQuestionDetail" />
          <xs:element minOccurs="0" name="LastField" type="tns:AplFormResponseQuestionField" />
          <xs:element minOccurs="0" name="ModifiedFields" nillable="true" type="tns:ArrayOfAplFormResponseQuestionField" />
          <xs:element minOccurs="0" name="Question" nillable="true" type="tns:AplQuestion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormResponseQuestion" nillable="true" type="tns:AplFormResponseQuestion" />
  <xs:complexType name="AplFormResponseQuestionKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://accipiens.com/Common" base="q30:BusinessEntityKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AplFormResponseQuestionKey" nillable="true" type="tns:AplFormResponseQuestionKey" />
  <xs:simpleType name="AplFormResponseQuestionDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Question" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormResponseQuestionDetail" nillable="true" type="tns:AplFormResponseQuestionDetail" />
  <xs:simpleType name="AplFormResponseQuestionField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Id" />
      <xs:enumeration value="AplFormRespId" />
      <xs:enumeration value="AplQuestionId" />
      <xs:enumeration value="AplFormAnswerTypeValueId" />
      <xs:enumeration value="Last" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFormResponseQuestionField" nillable="true" type="tns:AplFormResponseQuestionField" />
  <xs:complexType name="ArrayOfAplFormResponseQuestionField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplFormResponseQuestionField" type="tns:AplFormResponseQuestionField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplFormResponseQuestionField" nillable="true" type="tns:ArrayOfAplFormResponseQuestionField" />
  <xs:complexType name="ArrayOfExpenseTypeByTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseTypeByTable" nillable="true" type="tns:ExpenseTypeByTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseTypeByTable" nillable="true" type="tns:ArrayOfExpenseTypeByTable" />
  <xs:simpleType name="AplFlowClassKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FinancialValue">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rents">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ResidualValue">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expenses">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Commissions">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Subventions">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Insurances">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Services">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinancialChange">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VendorOrSupplierInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OutstandingCapital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SaleAsset">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionPenalization">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinancedAmount">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IncreaseCapital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DecreaseCapital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DelayInterest">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rescission">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">18</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BuildingTax">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">19</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FuelCards">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IncreaseCapitalFinMov">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">21</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DecreaseCapitalFinMov">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CautionDebit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CautionCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Relocation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionRepaymentCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">26</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionLost">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Consortium">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">28</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConsortiumFlow">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConsortiumDebitFlow">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Restructure">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CreditCards">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionRepaymentDebit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">33</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionLostCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">34</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CompensationCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">35</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CompensationDebit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">36</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DisposableAssetIncreaseCapital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">37</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AdvanceCreditRecovery">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">38</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FIInterestWithOutRecourse">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">39</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VATRegularization">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">41</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvoiceCredRecovery">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">42</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EquipmentTax">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">43</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LitigationsCourtExpenses">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">44</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LitigationsSolicitorExpenses">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">45</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetRetakeExpenses">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">46</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DebitCondominiumPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">47</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CreditCondominiumPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsurancesPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RevenueInterestWithOutRecourse">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinChangePenalization">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BeneficiaryCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">52</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChequeRequestCreditNote">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">53</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FIInterestWithRecourse">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">54</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RevenueInterestWithRecourse">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">55</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InterestWithOutRecourse">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">56</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InterestWithRecourse">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">57</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ISUCByInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">58</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ClientPaymentToSupplier">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">59</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VATRecover">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetFinType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">61</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SupplierRetention">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">62</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionStockInterest">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">63</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TerminatePlafondDebit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TerminatePlafondCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinMovAdvanceWithTaxInternalDoc">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">66</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinMovCaptiveAmountInternalDoc">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">67</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FinChangeFiscalRegime">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">68</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VATRecoverOtherCapital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">69</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetDeviationUsageAmount">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DisposableAssetDecreaseCapital">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">71</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COCardFItemMove">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">72</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COCardManagerCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">73</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="COCardManagerDebit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">74</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TollCards">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">75</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VehicleTax">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">76</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FrameContract">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">77</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServiceSupplierInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">78</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServicePaymentInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">79</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServiceChangeInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">80</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetServicePlanType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">81</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetServiceInvoiceItemType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">82</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsuranceRefund">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">83</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FrameContractExpense">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">84</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsuranceVehicleTax">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">85</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AgreementForgiveness">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">86</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetServiceCustomerPlanType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">87</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetServiceInvoiceCustomerItemType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">88</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsuranceClientCredit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">89</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RescissionOtherValuesType">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">90</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssetDamage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">91</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AgreementInterest">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">92</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AplFlowClassKind" nillable="true" type="tns:AplFlowClassKind" />
</xs:schema>